@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* other css file imports */
@import url("sections/hero.css");
@import url("sections/catalogue.css");

/* CSS variables for reusablity across all files (including above imported) */
:root {
    --playfair-display: "Playfair Display", serif;
    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

    --primary-color: #b1454a;
    --secondary-color: #121212;

    --black-200: #020202;
    --black-300: #333333;
    --black-400: #1f1e31;
    --black-500: #555555;
    --gray-100: #888888;

    --color-white: #fff;
    --color-black: #000;
    --color-redish: #cf1430;
    --color-info-1: #878a8a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--color-black);
    
    color: var(--color-white);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sushi__subtitle {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);

    color: var(--primary-color);
    opacity: 0.8;

    letter-spacing: -0.01em;
}

.sushi__title {
    font-size: 64px;
    font-weight: 600;
    font-family: var(--playfair-display);

    color: var(--secondary-color);

    margin-top: 16px;
}

.sushi__description {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);

    line-height: 36px;
    letter-spacing: -0.01em;

    color: var(--secondary-color);
    opacity: 0.8;

    margin: 32px 0px;
}

/* START: hero media queries */
@media screen and (max-width: 1060px) {
    .hero {
        flex-direction: column;
    }

    .hero-image img {
        width: 100%;

        transform: matrix(1, 0.05, 0, 1.25, 0, 0) !important;
    }

    .hero-image__right {
        width: 75%;
    }
}

@media screen and (max-width: 750px) {
    .hero-image h2 {
        font-size: 70px;
        line-height: 90px;
    }
}

@media screen and (max-width: 550px) {
    .hero-image h2 {
        font-size: 40px;
        line-height: 60px;
    }

    .hero-content-info {
        padding: 32px;
    }

    .hero-content-info h1 {
        font-size: 60px;
    }

    .hero-content-info p {
        margin: 32px 0;
    }
}

/* END: hero media queries */
