.hero {
    display: flex;
    min-height: calc(100vh - 74px);
    min-height: 100vh;
    overflow: hidden;
}

.hero-image {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
}

.hero-image__right {
    flex: 1;
    display: flex;
    flex-direction: column;

    position: relative;
    gap: 25px;
    margin: auto auto auto 25px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero-content-info {
    padding-left: 25px;
    padding-right: 25px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-content-info h1 {
    font-size: 28px;
    font-weight: 100;
    font-family: var(--playfair-display);
    color: var(--color-white);
    text-transform: uppercase;
    margin-bottom: 12px;
}

.hero-content-info p {
    margin: 32px 0 0 0px;

    font-family: var(--plus-jakarta-sans);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    text-align: justify;
}

.hero-content-info h2 {
    font-size: 18px;
    font-weight: 100px;
    font-family: var(--playfair-display);
    color: var(--color-redish);
    text-transform: uppercase;
    margin-top: 32px;
}

.hero-content__info2 p {
    font-weight: 400;
    color: var(--color-white);
}